body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    font-family: Arial, sans-serif;
}

.box {
    background: white;
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #ff4b5c;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
